*, body {
	padding: 0;
	margin: 0;
}
 body {
	padding: 0;
	margin: 0;
	background: #efe5e5;
}
header {
    width: 100%;
    display: block;
    overflow: hidden;
    background: #24b551;
}
header .log {
	float: left;
	left: 0;
	width: 20%;	
	height: 4rem;
}
header .log  img {
	width: 100%;
	height: 100%;
}
header ul.menu {
    float: right;
    display: inline-flex;
    right: 0;
    list-style-type: none;
}
header ul.menu li {
	list-style: none;
	padding: 10px;
	/*background: dimgray;*/
	text-align: center;
	line-height: 2rem;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
}
header ul.menu li:hover {
	background: #1b823b66;
}
header ul.menu li.active {
	background: #1b823b66;
}

/*style producto*/
#product {
	width: 98%;
    padding: 2% 1%;
    overflow: hidden;
}
.brand {
    width: 15%;
    height: calc(100vh - 4rem);
    float: left;
    left: 0;
    min-width: 11rem;
    padding: 1%;
    background: #6361612b;
}
.brand span {
	list-style: none;
    display: block;
    margin-bottom: 0.1rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: sans-serif;
    letter-spacing: -1px;
    padding: 0.4rem;
    color: #3e3d3d;
}
.brand span.active {
	background: gray;
	color: white;
}
.brand span:hover {
	background: grey;
	color: white;
}
#product .list-product {
	width: 80%;
	float: right;
	right: 0;
} 
#product .list-product .conte-prod{
	width: 98%;
	margin:  0 auto;
	padding: 0;
}
.list-product .conte-prod .box-prod {
    width: 24%;
    height: 19rem;
    background: white;
    float: left;
    margin-left: .4rem;
    margin-bottom: .4rem;
    border: 1px solid #afadad4d;
}
.list-product .conte-prod .box-prod:hover {
	box-shadow: 0px 0px 2px 0px grey;
}
.list-product .conte-prod .box-prod .img-prod {
	width: 100%;
	height: 70%;
}
.list-product .conte-prod .box-prod .img-prod img {
	width: 100%;
	height: 100%;
}
.list-product .conte-prod .box-prod .detalle-prod {
	width: 100%;
	height: auto;
	line-height: 1.8rem;
	display: block;
}
.list-product .conte-prod .box-prod .detalle-prod span.name-prod {
	display: block;
    font-size: 20px;
    font-family: sans-serif;
    color: #504d4d;
    text-align: center;
}
.list-product .conte-prod .box-prod .detalle-prod span.precio {
	color: #f13434;
    width: 80%;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: -1px;
    text-align: left;
}
.list-product .conte-prod .box-prod .box-buy {
	width: 80%;
    line-height: 2rem;
    display: block;
    margin: 0 auto;
}
.list-product .conte-prod .box-prod .box-buy a {
 	text-decoration: none;
    color: white;
    background: #1781d6;
    padding: 5px 10px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 2px;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}
.list-product .conte-prod .box-prod .box-buy a:hover {

	background: #1e90ec;
}